extends includes/layout.pug

block content
  if theme.category_ui == 'index'
    include ./includes/mixins/indexPostUI.pug
    +indexPostUI
  else
    #category
      .article-sort-title
        span= _p('page.category') + ' - ' + page.category
      
      // Display articles in this category
      include ./includes/mixins/article-sort.pug
      +articleSort(page.posts)
      include includes/pagination.pug