/* build time:Sun Jan 18 2026 13:16:28 GMT+0800 (中国标准时间)*/
.container{width:100%;border:1px solid #d3d3d3}.container div{width:100%}.container .header{background-color:#d3d3d3;padding:2px;cursor:pointer;font-weight:700}.container .content{display:none;padding:5px}
/* rebuild by neat */