/* build time:Mon Feb 09 2026 09:37:02 GMT+0000 (Coordinated Universal Time)*/
.container{width:100%;border:1px solid #d3d3d3}.container div{width:100%}.container .header{background-color:#d3d3d3;padding:2px;cursor:pointer;font-weight:700}.container .content{display:none;padding:5px}
/* rebuild by neat */